# These are the available settings for this application.
# Either export these as environment variables or make
# a copy of this file and name it ".env"

# Required:
FLASK_SECRET_KEY=debugsecretkey
SQL_HOST=localhost
SQL_USER=sql_user
SQL_PASSWORD=sql_secretkey
SQL_DATABASE=sql_database


# Optional:
# FLASK_TESTING=false
# FLASK_ENV=development # or 'production'
# FLASK_DEBUG=false
# SQL_PORT=3306
# FLASK_SERVER_NAME="localhost"
# FLASK_APPLICATION_ROOT="/"
# FLASK_NUM_WORKERS=4
