# These are the available settings for this application.
# Either export these as environment variables or make
# a copy of this file and name it ".env"

# Required:

FLASK_ENV="development" # or "production" or "testing"
FLASK_SECRET_KEY="debugsecretkey"

FLASK_SQL_HOST="localhost"
FLASK_SQL_USER="factotum_user"
FLASK_SQL_PASSWORD="sqlsecretkey"
FLASK_SQL_DATABASE="factotum_db"


# Optional:

# FLASK_SERVER_NAME="localhost"
# FLASK_APPLICATION_ROOT="/"
# FLASK_NUM_WORKERS=4
