.navbar-custom {
    background-color: #0071bc;
}

.api-title {
    font-family: monospace;
    font-size: 18px;
}

.api-title .verb {
    font-size: 85%;
    font-style: italic;
    color: lightgrey;
}

.api-title .uri {
    font-weight: bold;
}

.api-body {
    border-left: 1px solid lightgrey;
}
