<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Factotum Web Services</title>

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/epa-theme.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/prism.css') }}"
        />
    </head>
    <body>
        <nav class="navbar fixed-top flex-md-nowrap p-0 shadow navbar-custom">
            <span
                class="navbar-brand col-sm-3 col-md-2 mr-0"
                style="color: white"
                >Factotum API</span
            >
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <div class="row">
                <div
                    class="col-md-2 d-none d-md-block list-group fixed-top mt-5"
                    id="sidebar-scrollspy"
                >
                    {% for type in docs %}
                    <a
                        class="list-group-item list-group-item-action"
                        href="#{{ docs[type]['href'] }}"
                    >
                        {{ type }}
                    </a>
                    {% endfor %}
                </div>

                <main class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
                    <div
                        data-spy="scroll"
                        data-target="#sidebar-scrollspy"
                        data-offset="0"
                    >
                        <div
                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3
                        border-bottom"
                        >
                            <h1 class="h2">Factotum Web Services</h1>
                        </div>
                        <p>
                            The Factotum API is a service that provides data
                            about Product Usage Category (PUC), consumer
                            products and the chemicals related to PUCs and
                            products.
                        </p>
                        {% for type in docs %}
                        <h4 class="pt-5" id="{{ docs[type][href] }}">
                            {{ type }}
                        </h4>
                        {% for api in docs[type]['apis'] %}
                        <div class="row pt-3 api-title">
                            <div class="col-md-12">
                                <p>
                                    <span class="verb">
                                        {{ api.verb }}
                                    </span>
                                    <span class="uri">
                                        {{ api.uri }}
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row ml-md-4 ml-1 pl-md-4 pl-1 api-body">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>{{ api.summary|markdown }}</p>
                                        <p>{{ api.note|markdown }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6 class="text">
                                            URI Parameters
                                        </h6>
                                        <ul style="list-style-type:none;">
                                            {% for arg, desc in
                                            api.arguments.items() %}
                                            <li>
                                                <code>{{ arg }}</code>: {{ desc
                                                }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6 class="text">
                                            Returns
                                        </h6>
                                        <p>{{ api.returns|markdown }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6 class="text">
                                            Example
                                        </h6>
                                        <p>
                                            <a
                                                href="{{ api.base_uri }}{{ api.uri }}{{ api.example_query_string }}"
                                                style="font-family: monospace;"
                                                target="_blank"
                                                >{{ api.base_uri }}{{ api.uri
                                                }}{{ api.example_query_string
                                                }}</a
                                            >
                                        </p>
                                        <ul
                                            class="nav nav-tabs"
                                            id="codeTab"
                                            role="tablist"
                                        >
                                            <li class="nav-item">
                                                <a
                                                    class="nav-link active"
                                                    id="curl-tab"
                                                    data-toggle="tab"
                                                    href="#curl"
                                                    role="tab"
                                                    aria-controls="curl"
                                                    aria-selected="true"
                                                    >cURL</a
                                                >
                                            </li>
                                            <li class="nav-item">
                                                <a
                                                    class="nav-link"
                                                    id="python-tab"
                                                    data-toggle="tab"
                                                    href="#python"
                                                    role="tab"
                                                    aria-controls="python"
                                                    aria-selected="false"
                                                    >Python</a
                                                >
                                            </li>
                                            <li class="nav-item">
                                                <a
                                                    class="nav-link"
                                                    id="ruby-tab"
                                                    data-toggle="tab"
                                                    href="#ruby"
                                                    role="tab"
                                                    aria-controls="ruby"
                                                    aria-selected="false"
                                                    >Ruby</a
                                                >
                                            </li>
                                            <li class="nav-item">
                                                <a
                                                    class="nav-link"
                                                    id="r-tab"
                                                    data-toggle="tab"
                                                    href="#r"
                                                    role="tab"
                                                    aria-controls="r"
                                                    aria-selected="false"
                                                    >R</a
                                                >
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div
                                                class="tab-pane active"
                                                id="curl"
                                                role="tabpanel"
                                                aria-labelledby="curl-tab"
                                            >
                                                <pre><code class="language-shell">{{ api.curl }}</code></pre>
                                            </div>
                                            <div
                                                class="tab-pane"
                                                id="python"
                                                role="tabpanel"
                                                aria-labelledby="python-tab"
                                            >
                                                <pre><code class="language-python">{{ api.py }}</code></pre>
                                            </div>
                                            <div
                                                class="tab-pane"
                                                id="ruby"
                                                role="tabpanel"
                                                aria-labelledby="ruby-tab"
                                            >
                                                <pre><code class="language-ruby">{{ api.ruby }}</code></pre>
                                            </div>
                                            <div
                                                class="tab-pane"
                                                id="r"
                                                role="tabpanel"
                                                aria-labelledby="r-tab"
                                            >
                                                <pre><code class="language-r">{{ api.r }}</code></pre>
                                            </div>
                                        </div>
                                        <h6 class="text pt-2">
                                            JSON Response
                                        </h6>
                                        <pre><code class="language-javascript">{{ api.example_response }}</code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %} {% endfor %}
                    </div>
                </main>
            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/prism.js') }}"
        ></script>
    </body>
</html>
