<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factotum Web Services</title>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Factotum API</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#"></a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 list-group fixed-top mt-5" id="sidebar-scrollspy">
            <a class="list-group-item list-group-item-action" href="#getting_started">
                Getting Started
            </a>
            <a class="list-group-item list-group-item-action" href="#puc">
                Product Use Category (PUC)
            </a>
            <a class="list-group-item list-group-item-action" href="#product">
                Product
            </a>
            <a class="list-group-item list-group-item-action" href="#chemical">
                Chemical
            </a>
        </div>


        <main class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5" >
            <div data-spy="scroll" data-target="#sidebar-scrollspy" data-offset="0">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3
                        border-bottom">
                <h1 class="h2">Factotum Web Services</h1>
            </div>
            <h2 class="pt-5" id="getting_started">Getting Started</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis semper purus et mollis.
                Vestibulum
                at convallis eros. Nulla consectetur, nisl id dictum volutpat, diam leo semper nunc, fringilla ornare
                erat
                quam nec massa. Sed urna nisl, mattis sit amet erat sodales, laoreet aliquet est. Duis vestibulum
                interdum
                mauris. Quisque vulputate commodo felis, vitae sodales quam pretium et. Praesent euismod metus quis quam
                faucibus semper. Sed ultrices pulvinar est, at sodales metus volutpat non. Donec porta enim eu augue
                cursus
                eleifend. Etiam tempus ipsum quis quam placerat, eget tempor dui porttitor.</p>
            <p>Aenean in convallis erat. Aliquam fringilla auctor rhoncus. Quisque convallis elementum rutrum. Donec
                elementum leo nec arcu fermentum commodo. Vestibulum lacinia auctor diam in semper. Quisque ut ligula
                pretium, elementum est vel, facilisis turpis. In elementum eu ligula vel varius. Suspendisse aliquet
                molestie risus.</p>
            <h2 class="pt-5" id="puc">Product Use Category (PUC)</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis semper purus et mollis.
                Vestibulum
                at convallis eros. Nulla consectetur, nisl id dictum volutpat, diam leo semper nunc, fringilla ornare
                erat
                quam nec massa. Sed urna nisl, mattis sit amet erat sodales, laoreet aliquet est. Duis vestibulum
                interdum
                mauris. Quisque vulputate commodo felis, vitae sodales quam pretium et. Praesent euismod metus quis quam
                faucibus semper. Sed ultrices pulvinar est, at sodales metus volutpat non. Donec porta enim eu augue
                cursus
                eleifend. Etiam tempus ipsum quis quam placerat, eget tempor dui porttitor.</p>
            <p>Aenean in convallis erat. Aliquam fringilla auctor rhoncus. Quisque convallis elementum rutrum. Donec
                elementum leo nec arcu fermentum commodo. Vestibulum lacinia auctor diam in semper. Quisque ut ligula
                pretium, elementum est vel, facilisis turpis. In elementum eu ligula vel varius. Suspendisse aliquet
                molestie risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis semper purus et mollis.
                Vestibulum
                at convallis eros. Nulla consectetur, nisl id dictum volutpat, diam leo semper nunc, fringilla ornare
                erat
                quam nec massa. Sed urna nisl, mattis sit amet erat sodales, laoreet aliquet est. Duis vestibulum
                interdum
                mauris. Quisque vulputate commodo felis, vitae sodales quam pretium et. Praesent euismod metus quis quam
                faucibus semper. Sed ultrices pulvinar est, at sodales metus volutpat non. Donec porta enim eu augue
                cursus
                eleifend. Etiam tempus ipsum quis quam placerat, eget tempor dui porttitor.</p>
            <p>Aenean in convallis erat. Aliquam fringilla auctor rhoncus. Quisque convallis elementum rutrum. Donec
                elementum leo nec arcu fermentum commodo. Vestibulum lacinia auctor diam in semper. Quisque ut ligula
                pretium, elementum est vel, facilisis turpis. In elementum eu ligula vel varius. Suspendisse aliquet
                molestie risus.</p>
            <h2 class="pt-5" id="product">Product</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis semper purus et mollis.
                Vestibulum
                at convallis eros. Nulla consectetur, nisl id dictum volutpat, diam leo semper nunc, fringilla ornare
                erat
                quam nec massa. Sed urna nisl, mattis sit amet erat sodales, laoreet aliquet est. Duis vestibulum
                interdum
                mauris. Quisque vulputate commodo felis, vitae sodales quam pretium et. Praesent euismod metus quis quam
                faucibus semper. Sed ultrices pulvinar est, at sodales metus volutpat non. Donec porta enim eu augue
                cursus
                eleifend. Etiam tempus ipsum quis quam placerat, eget tempor dui porttitor.</p>
            <p>Aenean in convallis erat. Aliquam fringilla auctor rhoncus. Quisque convallis elementum rutrum. Donec
                elementum leo nec arcu fermentum commodo. Vestibulum lacinia auctor diam in semper. Quisque ut ligula
                pretium, elementum est vel, facilisis turpis. In elementum eu ligula vel varius. Suspendisse aliquet
                molestie risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis semper purus et mollis.
                Vestibulum
                at convallis eros. Nulla consectetur, nisl id dictum volutpat, diam leo semper nunc, fringilla ornare
                erat
                quam nec massa. Sed urna nisl, mattis sit amet erat sodales, laoreet aliquet est. Duis vestibulum
                interdum
                mauris. Quisque vulputate commodo felis, vitae sodales quam pretium et. Praesent euismod metus quis quam
                faucibus semper. Sed ultrices pulvinar est, at sodales metus volutpat non. Donec porta enim eu augue
                cursus
                eleifend. Etiam tempus ipsum quis quam placerat, eget tempor dui porttitor.</p>
            <p>Aenean in convallis erat. Aliquam fringilla auctor rhoncus. Quisque convallis elementum rutrum. Donec
                elementum leo nec arcu fermentum commodo. Vestibulum lacinia auctor diam in semper. Quisque ut ligula
                pretium, elementum est vel, facilisis turpis. In elementum eu ligula vel varius. Suspendisse aliquet
                molestie risus.</p>
            <h2 class="pt-5" id="chemical">Chemical</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis semper purus et mollis.
                Vestibulum
                at convallis eros. Nulla consectetur, nisl id dictum volutpat, diam leo semper nunc, fringilla ornare
                erat
                quam nec massa. Sed urna nisl, mattis sit amet erat sodales, laoreet aliquet est. Duis vestibulum
                interdum
                mauris. Quisque vulputate commodo felis, vitae sodales quam pretium et. Praesent euismod metus quis quam
                faucibus semper. Sed ultrices pulvinar est, at sodales metus volutpat non. Donec porta enim eu augue
                cursus
                eleifend. Etiam tempus ipsum quis quam placerat, eget tempor dui porttitor.</p>
            <p>Aenean in convallis erat. Aliquam fringilla auctor rhoncus. Quisque convallis elementum rutrum. Donec
                elementum leo nec arcu fermentum commodo. Vestibulum lacinia auctor diam in semper. Quisque ut ligula
                pretium, elementum est vel, facilisis turpis. In elementum eu ligula vel varius. Suspendisse aliquet
                molestie risus.</p>
            </div>
        </main>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>